@use "@/scss/variables" as *;

.home {
    padding: 24px 16px 65px 16px;

    @media screen and (min-width: 650px) {
        padding: 48px 80px 130px 80px;
    }

    &__filters {
        margin-bottom: 32px;
        padding: 0 16px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

        @media screen and (min-width: 750px) {
            margin-bottom: 48px;

            flex-direction: row;
        }
    }

    &__countries {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($country-card-width, 1fr));
        gap: 40px;
        justify-items: center;
    }
}
