/* Top */
.search .top {
    margin-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.search .top input[type="search"] {
    width: 480px;
    height: 56px;

    outline: none;
    border: none;
    border-radius: 5px;

    box-shadow: 0 0 25px rgba(0, 0, 0, .1);

    position: relative;

    background-size: 4%;
    background-position: left 7% center;
    background-repeat: no-repeat;

    padding: 0 30px 0 75px;
}

.search .top input[type="search"]::placeholder {
    color: var(--dark-gray);
}

.search .top input[type="search"].dark::placeholder {
    color: var(--white);
}

.search .top input[type="search"]:-ms-input-placeholder {
    color: var(--dark-gray);
}

.search .top input[type="search"].dark:-ms-input-placeholder {
    color: var(--white);
}

.search .top input[type="search"]::-webkit-input-placeholder {
    color: var(--dark-gray);
}

.search .top input[type="search"].dark::-webkit-input-placeholder {
    color: var(--white);
}

.sort {
    position: relative;
}

.sort .current {
    width: 200px;
    height: 55px;

    padding: 0 25px;

    border-radius: 5px;

    box-shadow: 0 0 15px rgba(0, 0, 0, .1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    position: relative;
    z-index: 99;
}

.sort .current::after {
    content: "";

    width: .5em;
    height: .5em;

    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;

    transform: rotate(45deg);

    transition: transform .2s ease-out;
}

.sort.open .current::after {
    transform: rotate(-45deg);
}

.sort .list {
    width: 100%;

    position: absolute;

    top: calc(100% + 5px);

    border-radius: 5px;

    box-shadow: 0 0 15px rgba(0, 0, 0, .1);

    overflow: hidden;

    padding: 21px;
}

.sort .list ul {
    list-style-type: none;
}

.sort .list li {
    padding: 7px 0;

    cursor: pointer;
}

.sort .list li:first-child {
    padding-top: 0;
}

.sort .list li:last-child {
    padding-bottom: 0;
}

.sort .list li.active,
.sort .list li:hover {
    filter: invert(50%);
}

/* Results */
.search .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 75px;
}