.countryCard {
    width: 265px;
    height: 335px;

    border-radius: 5px;

    background-color: var(--white);

    display: flex;
    flex-direction: column;

    cursor: pointer;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.countryCard img {
    width: 100%;
    height: 160px;

    object-fit: cover;

    border-radius: 5px 5px 0 0;
}

.countryCard .bottom {
    width: 100%;
    height: 100%;

    padding: 30px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.countryCard .name {
    font-size: 1.2em;
    font-weight: 800;
}

.countryCard .info {
    font-size: 1em;
    font-weight: 300;
}

.countryCard .info .title {
    font-weight: 600;
}