// Colors
$dark-blue: #2b3945;
$very-dark-blue-bg: #202c37;
$very-dark-blue-text: #111517;
$dark-gray: #858585;
$very-light-gray: #fafafa;
$white: #ffffff;

// Values
$country-card-width: 264px;
$home-desktop-width: 650px;
